* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    padding: 30px 0;
    margin-left: -10px;
}

nav ul li { 
    display: inline-block;
}

nav ul li a {
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(167, 167, 167);
}

main section {
    padding: 20px 0;
    margin-bottom: 10px;
}

main section p {
color: rgb(167, 167, 167);
}

/* classi */

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-brand {
    width: 30%;
}

.nav-brand img {
    max-width: 100%;
    padding-right: 15px;
    border-right: 1px solid lightgrey;
}

.hero-section {
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 600px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}


.hero-content {
    position: absolute;
    width: 50%;
    bottom: 50px;
    left: 30px;
    color: white;
}

.bg-border {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.main-article {
    margin: 0 -10px;
}

.main-article .col {
    width: 20%;
    padding: 10px;
    /* position: relative; */
}

.main-article .col-center {
    width: 60%;
    padding: 10px;
}

.main-article .col-center img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.main-article .col img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.col-text {
    padding: 10px;
}

.col-text h5 {
    padding-bottom: 10px;
}

.img-article {
    position: relative;
}

.footer-text {
    text-align: center;
    margin-top: 30px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}